<mat-sidenav-container>
  <div class="container-nav">
    <figure>
      <img src="assets/img/logo.svg" alt="logo" />
    </figure>
    <div class="nav">
      <div class="location">
        <mat-icon style="color: #8047f8" class="material-icons"
          >location_on</mat-icon
        >
        <span>Nova Iguaçu</span>
      </div>
      <div class="cart">
        <mat-icon style="color: #c47f17" class="material-icons"
          >shopping_cart</mat-icon
        >
      </div>
    </div>
  </div>
</mat-sidenav-container>
